{% extends 'base_main.html' %}
{% load static %}
{% block extCSS %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'app/home/home.css' %}">
{% endblock %}

{% block EXTJS %}
    <script type="text/javascript" src="{% static 'app/home/js/home.js' %}"></script>
{% endblock %}

{% block content %}

    <div id="home">
        {#   顶部轮播       #}
        <div class="swiper-container" id="topSwiper">

            <div class="swiper-wrapper">
                <!--处理轮播banner图-->
                {% for data in datas %}
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{{data.img }}" alt="{{ data.name }}">
                        </a>
                    </div>
                {% endfor %}
                <!-- 处理结束 -->
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>

        </div>
        {#         导航         #}
        <div class="topMenu">
            <nav>
                <ul>
                    <!-- 处理导航数据 -->
                    {% for nav in navs_data %}
                        <li>
                            <img src="{{ nav.img }}" alt="">
                            <span>{{ nav.name }}</span>
                        </li>
                    {% endfor %}
                    <!--处理结束-->
                </ul>
            </nav>
        </div>
        {#         必购     #}
        <div id="swiperMenu" class="swiper-container">

            <ul class="swiper-wrapper">
                <!-- 处理必购商品信息 -->
                {% for buy in must_buy %}
                    <li class="swiper-slide">
                        <img src="{{ buy.img }}" alt="{{ buy.name }}">
                    </li>
                {% endfor %}
                <!-- 处理结束 -->

            </ul>

        </div>
        {#          商店    #}
        <div class="CVS">
            <!--处理第一个店铺的数据的图片-->
        {% for shop in shops %}
            {% ifequal forloop.counter 1 %}

            <h2>
                <img src="{{ shop.img }}" alt="">
            </h2>
            <!--处理结束-->
            {% endifequal %}
        {% endfor %}
        {% for shop in shops %}
            {% ifequal forloop.counter 2 %}

            <fieldset>
            {% endifequal %}
                <!--处理第二个到第四个数据-->
            {% if forloop.counter > 1 and forloop.counter < 4 %}
                    <a href="#">
                        <img src="{{ shop.img }}" alt="">
                    </a>
            {% endif %}

                <!--处理结束-->
            {% ifequal forloop.counter 3 %}
            </fieldset>
            {% endifequal %}
        {% endfor %}

            <ul>
                <!--处理第五个到第八个数据-->
                {% for shop in shops%}
                    {% if forloop.counter > 3 and forloop.counter < 8 %}
                    <li>

                        <a href="#">
                            <img src="{{ shop.img }}" alt="">
                            <span>{{ shop.name }}</span>
                        </a>


                    </li>
                    {% endif %}

                {% endfor %}
                <!--处理结束-->

            </ul>

            <ol>
                <!--处理第八个到第十二个数据-->
                {% for shop in shops %}
                    {% if forloop.counter > 7 and forloop.counter < 12 %}
                    <li>


                        <a href="#">
                            <img src="{{ shop.img }}" alt="">
                        </a>


                    </li>
                    {% endif %}

                {% endfor %}
                <!--处理结束-->

            </ol>

        </div>


        {#         主要显示 #}

        <div class="mainInfo">
            <!--商品展示-->
                {% for show in shows %}
                <section>
                    <h3>{{ show.name }}<span></span><a href="#">更多&gt;</a></h3>


                    <div>
                        <a href="#">
                            <img src="{{ show.img }}" alt="">
                        </a>
                    </div>

                    <ul>

                        <li>
                            <a href="#">
                                <img src="{{ show.img1 }}" alt="">
                                <p class="description">
                                {{ show.longname1 }}
                                </p>
                                <span>￥{{ show.price1 }}</span>
                                <s>￥{{ show.marketprice1 }}</s>
                            </a>
                            <button>
                                <span>+</span>
                            </button>
                        </li>
                       <li>
                            <a href="#">
                                <img src="{{ show.img2 }}" alt="">
                                <p class="description">
                                    {{ show.longname2 }}

                                </p>
                                <span>￥{{ show.price2 }}</span>
                                <s>￥{{ show.marketprice2 }}</s>
                            </a>
                            <button>
                                <span>+</span>
                            </button>
                        </li>
                       <li>
                            <a href="#">
                                <img src="{{ show.img3 }}" alt="">
                                <p class="description">
                                    {{ show.longname3 }}

                                </p>
                                <span>￥{{ show.price3 }}</span>
                                <s>￥{{ show.marketprice3 }}</s>
                            </a>
                            <button>
                                <span>+</span>
                            </button>
                        </li>


                    </ul>

                </section>
            <!--商品展示结束-->
            {% endfor %}



        </div>
    </div>

{% endblock %}
