{% extends 'base.html' %}
{% load static %}


{% block content %}

    <h3>待付款订单列表</h3>

    <ul>
    {% for goods in all_ordergoods %}


        <!--订单信息展示-->
            <li>
                <a href="/cart/showOrderShop/{{ goods.order_id }}/">
                    <p><!-- 订单id -->订单id:{{ goods.order_id }}</p>
                    <p><!-- 数量 -->数量：{{ goods.goods_num }}</p>
                        <!--展示商品的名称-->
                        <li>
                            <img src="{{ goods.goods.productimg }}" alt="">
                                {{ goods.goods.productname }}
                              {{ goods.goods.price }}元
                        </li>

                        <!--处理结束-->
                </a>
            </li>
        <!--订单处理结束-->
    {% endfor %}

    </ul>


{% endblock %}
